<%- include('./partials/header') %>
   

<% if (login) { %>                
    <h1>Usuario conectado: <strong><%= email %></strong></h1>                        
    <a href="logout" class="a-logout">Logout</a>
    <a href="/camara" class="a-logout">camara</a>
    <a href="/mostrardatos" class="a-logout">mostrar datos</a>


<%}

else { %>
    <h1><strong><%= name %></strong></h1>   
    <a href="login" class="a-login">Ir a Login</a>
<% } %>



<% if (typeof alert != "undefined")  { %>
  <script>
  Swal.fire({
    title:'<%= alertTitle %>',
    text:'<%= alertMessage %>',
    icon:'<%= alertIcon %>',
    showConfirmButton: <%= showConfirmButton %>,
    timer: <%= timer %>
  }).then(()=>{
    window.location='/<%= ruta %>'
  })
  </script>
<% } %>

 <%- include('./partials/footer') %>
